.card__image {
  width: 100%;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__image:hover {
  cursor: pointer;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  opacity: 40%;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/like-icon-dark.svg);
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-button_liked:hover {
  background-image: url(../images/like-icon-liked-hover.svg);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__image-container {
  position: relative;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  border-style: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.card__delete-button::before {
  content: "";
  background-image: url(../images/trash-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  height: 15px;
  width: 12px;
}
.card__delete-button:hover {
  background-color: rgba(255, 101, 101, 1);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__like-button {
    transform: scale(0.87);
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 250px;
  }
}
